@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.user_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
/* Loader */
.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  
    margin-bottom: 17% ;
    width: 80px;
    height: 80px;
    padding-left: 0;
  }
  .loader:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fa9c23;
    border-color: #fa9c23 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*profile*/
  
.rounded-circle {
  border-radius: 50% !important;
}
.avatar-profile {
  height: 12rem;
  width: 10rem;
}
/*home*/
.home-card{
  align-items: center;
  padding: 2%;
  width: 50%;
  
}



/*search bar*/
.custom-search .ant-btn {
  background-color: #6c926d; 
  border-color: #6c926d; 
}

.custom-search .ant-btn:hover,
.custom-search .ant-btn:focus  {
  background-color: #6c926d; /* Change button background color on hover */
  border-color: #6c926d; /* Change button border color on hover */
}