@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;

  /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
}
.logo {
 height: 60px;
 width: 200px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  
}
.nav_item{
    position: relative;
}
.nav_item::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #6c926d;
    /* display: block; */
    position: absolute;
    left: 0;
    bottom: 9px;
    opacity: 0;
    transition: all 0.7s;
    pointer-events: none;




}
.nav_item:hover::after{
  
    opacity: 1;
}
.nav-links li {
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 0px;
  
  cursor: pointer;
  text-transform: capitalize;
}

.hero {
  text-align: center;
  margin-top: 15%;
}
.hero h1 {
  text-align: center;
  font-size: 80px;
}
.mobile-menu-icon {
  display: none;
}
button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}
@media (max-width: 768px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: white;
  }
  ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    /* right: 20px; */
  }
  .hero h1 {
    font-size: 50px;
  }
}


/*search bar*/
.custom-search .ant-btn {
  background-color: #6c926d; 
  border-color: #6c926d; 
}

.custom-search .ant-btn:hover,
.custom-search .ant-btn:focus  {
  background-color: #6c926d; /* Change button background color on hover */
  border-color: #6c926d; /* Change button border color on hover */
}
